.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
    overflow-x: unset;
    height: 400px;
}

.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider{
    justify-content: center;
    overflow-x: unset;

}

.plans-container--card{
    width: 20%;
}

.currency-table--container{
    display: flex;
    justify-content: space-around;
    
}

