html{
    width: 62.5%;

}

body{
    background: #4776E6;
    font-family: 'Open Sans', sans-serif;

}

/*Barra de navegacion*/
.nav-main{
    height: 5rem;
    width: 100rem;
}

.nav-main figure img{
    position: relative;
    left: 0.1rem;
    width: 3.5rem;

}

.nav-main figure figcaption{
    position: absolute;
    left: 7rem;
    top: 1.5rem;
    font-weight: bold;
    font-size: 2rem;
}

.nav-main figure figcaption:hover{
    cursor: pointer;
    color: #1DF2F2;
}

.nav-main ul li{
    position: relative;
    top: -3.7rem;
    left: 70rem;
    display: inline-block;
    border-right: 0.5px solid black;
    padding-right: 1rem;
    
}

.nav-main--item{
    margin-right: 1.6rem;
}

.nav-main--item .button{
    width: 6.5rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: #8E54E9;
    border: 2px solid #4776E6 ;
    font-weight: bold;
    font-size: 1.2rem;
    -webkit-box-shadow: 7px 7px 7px -3px rgba(0,0,0,0.63); 
    box-shadow: 7px 7px 7px -3px rgba(0,0,0,0.63);
    
}

.nav-main--item input:hover{
    cursor: pointer;
    background-color: #009FFF;
}


/*Menu lateral*/

aside{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.left-container div{
    width:18rem;
    height: 10rem;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    margin-top: 1.2rem;
    margin-left: 1rem;
    background-color: #8E54E9;
    border: 1px solid #4776E6 ;
    -webkit-box-shadow: 7px 7px 9px 3px rgba(0,0,0,0.77); 
    box-shadow: 7px 7px 9px 3px rgba(0,0,0,0.77);
    font-weight: bold;
    
}

.left-container div a{
    text-decoration: none;
    color: black;

}

.left-container div:hover{
    background-color: #009FFF;
    cursor: pointer;
}
.left-container--item1 figure img{
    position: relative;
    width: 4rem;
    top: 1rem;
    left: 4.1rem;
    
}

.left-container--item1 figcaption{
    position: relative;
    top: 2rem;
    left: 2.7rem;
    
}

.left-container--item2 figure img{
    position: relative;
    width: 4rem;
    top: 1rem;
    left: 4.1rem;
    
}

.left-container--item2 figcaption{
    position: relative;
    top: 2rem;
    left: 3.2rem;
    
}

.left-container--item3 figure img{
    position: relative;
    width: 4rem;
    top: 1rem;
    left: 4.1rem;
    
}

.left-container--item3 figcaption{
    position: relative;
    top: 2rem;
    left: 3rem;
    
}

.left-container--item4 figure img{
    position: relative;
    width: 4.5rem;
    top: 1rem;
    left: 4.1rem;
    
}

.left-container--item4 figcaption{
    position: relative;
    top: 1.5rem;
    left: 1.8rem;;
    justify-content: center;
    
}


/*Menu principal*/

section{
    display: flex;
    position: absolute;
    left: 20rem;

}

section figure img{
    position: absolute;
    width: 45rem;
    top: 4rem;
    left: 10rem;
}


section p{
    position: absolute;
    font-size: 6rem;
    font-weight: bold;
    color: whitesmoke;
    left: 65rem;
    top: 8rem;

}

section p:hover{
    cursor: pointer;
    color: #1DF2F2;
}

